/*
 paar fonti, mis on saadud https://fonts.google.com/ (see teeb ise meie jaoks koodi ka valmis, kui fondid ära valida, siis siin lihtsalt alumine välja vahetada)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sora:wght@600&display=swap');

body {
    /* taustapilt: see on võetud https://www.toptal.com/designers/subtlepatterns/ lehelt ning meile maha salvestatud img kausta */
    /* background: url(../img/white-waves.png) repeat 0 0; */
}


h1 {
    font-family: "Libre Baskerville", serif;
    justify-content: center;
    text-align: center;
    display: flex;
    color: rgb(235, 235, 235);
    background: #ff4a4a;
    font-size: 75px;
}

p {
    font-family: "Libre Baskerville", serif;
    color: rgb(14, 71, 136);
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    display: flex;
    margin-bottom: 45px;
}

li {
    font-family: 'Roboto', sans-serif;
}

.ümbris {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50%;
    width: 98%;
    padding-top: 30px;
    border: solid 3px rgba(0, 0, 0, 0.288);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background: url("../img/grilledcheese.jpg") center repeat;
}

/* CSS https://getcssscan.com/css-buttons-examples button 53 - Alpine Day*/
.kysimus_all {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 460px;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media (min-width: 768px) {
    .kysimus_all {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

.esimene {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: sticky;
    justify-content: center;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nupp {
    align-items: center;
    background-color: #3dd1e7;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nupp:focus {
    color: #ff4a4a;
}

.nupp:hover {
    border-color:  #ff4a4a;
    fill: #06f;
}

.nupp:active {
    border-color: #ff4a4a;
    fill: #06f;
}

@media (min-width: 768px) {
    .nupp {
        min-width: 120px;
    }
}