/*
 paar fonti, mis on saadud https://fonts.google.com/ (see teeb ise meie jaoks koodi ka valmis, kui fondid ära valida, siis siin lihtsalt alumine välja vahetada)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sora:wght@600&display=swap');

body {
    /* taustapilt: see on võetud https://www.toptal.com/designers/subtlepatterns/ lehelt ning meile maha salvestatud img kausta */
    background: url(../img/white-waves.png) repeat 0 0;
}

/* pealkirjade jaoks üks font, ülal imporditud */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}
.p2 {
    font-family: "Sora" ;
    font-weight: bold;
}
/* sisu jaoks teine font, ülal imporditud */
p, div {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* nummerdatud sisu jaoks */
li {
    font-family: 'Roboto', sans-serif;
}

/* see on ainult tagasinupu class="tagasi" klassile tehtud css */
.tagasi {
    padding-left: 30px;
}

/* see on ainult sisu class="sisu" klassile tehtud css */
.sisu {
    padding-left: 30px;
    padding-top: 30px;
}

.kysimus {
    padding-bottom: 50px;
}

.img {
    width: 30%;
    float: left;
}

.p {
    width: 50%;
    float: right;
}

.all {
    display: flex;
    background-color:aliceblue;
    position: fixed;
    padding: 5px;
    bottom: 0;
}